<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.bat.spring.depend.lookup.domain.User" primary="true">
        <property name="id" value="1"/>
        <property name="name" value="ZY"/>
        <property name="age" value="26"/>
    </bean>

    <bean id="user1" class="com.bat.spring.depend.lookup.domain.User">
        <property name="id" value="2"/>
        <property name="name" value="GMX"/>
        <property name="age" value="27"/>
    </bean>

    <bean id="specificUser" class="com.bat.spring.depend.lookup.domain.SpecificUser" parent="user">
        <property name="nickName" value="github"/>
    </bean>

    <bean id="objectFactory" class="org.springframework.beans.factory.config.ObjectFactoryCreatingFactoryBean">
        <property name="targetBeanName" value="user"/>
    </bean>
</beans>